server:
  port: 8080
spring:
  config:
    activate:
      on-profile: dev
  application:
    name: forum
  datasource:
    driverclassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/forum
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
  flyway:
    enable: true
jwt:
  secret: 3dxm5X+E5Nf2Kq2Q8FzJh5Zq8nETTQq36o6/8HRG6Uc=